@import "../../../assets/css/variables.css";
@import "../../../assets/css/custom.css";

.main-container {
  width: 100%;  
  margin: 30px 40px;
  position: relative;
}

.main-container header {
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}

.main-container header .dropdown-account{
  height: 40px;
  margin-left: 10px;
  width: 100px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
}

.main-container header label{
  margin-left: 20px;
}

.main-container header h3{
  width: 30%;
  display: inline;
  color: var(--text-color);
  text-align: left;
}

.main-container header .right-header{
  display: inline;
  text-align: right;
}

.right-header .search-box{
  display: inline;
  position: relative;
}

.right-header .btn-search{
  background: none;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0 0px;
  top: 50%;
  transform: translateY(-50%);
}

.right-header button{
  margin: 0 4px;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
}

.right-header button:hover{
  margin: 0 4px;
  background: var(--primary-hover-color);
  color: #fff;
  font-size: 18px;
}

.btn-search .icon-search {
  width: 20px;
  color: var(--text-color);
  opacity: 0.8;
}

.search-box .input-search {
  padding: 8px 8px;
  padding-right: 32px;
  margin-left: 4px;
  border-radius: 8px;
  overflow: hidden;
}

.paging {
  display: flex;
  align-items: center;
  justify-content:space-between;
  color: var(--text-color);
}

.paging .icon{
  width: 16px;
  margin: 0 10px;
  color: var(--text-color);
}

.paging button:hover .icon{
  color: #fff;
}

/* .paging button{
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  background: #fff;
  margin: 0 2px;
} */

/* .paging button:hover{
  color: #fff;
  background: var(--primary-color);
} */

.table-content {
  text-align: left;
  margin: 30px 0;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: auto;
  height: 71vh;
}

.table-content::-webkit-scrollbar {
  width: 6px;
  height: auto;
}

.table-content::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 100px;
}

.table-content::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color)
}

.table-content table {
  color: var(--text-color);
  font-size: var(--font-large);
}

.table-content table .fa-regular {
  margin-right: 20px;
  cursor: pointer;
}

.table-content table .btn-edit{
  color: var(--info-color)
}

.table-content table .btn-delete {
  color: var(--error-color);
}

.table-content table .btn-view {
  color: rgb(224, 175, 0)
}

.table-content table .btn-reset {
  color: rgb(224, 175, 0)
}





