.header-parent {
    background-color: #83ACDC;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-student-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-title {
    display: inline-block;
    margin: 20px 0px 20px 0px;
}

.header-title h3 {
    width: 500px;
    height: auto;
    font-size: 30px;
    color: white;
    background-color: #83ACDC;
    border-radius: 10px/10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.detail-content {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
    flex-direction: column;
    align-items: center;
}

.detail-content .student-item{
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-content .student-item img{
    width: 150px;
    height: 150px;
    margin-bottom: 30px; 
    margin-right: 0;
    border-radius: 50%;
    border: 3px solid var(--primary-color) 
}

.detail-content .student-item .schedule{
    width: 700px;
    height: auto;
    margin-bottom: 30px; 
    margin-right: 0; 
    object-fit: fill;
    /* border: none; */
    border-radius: 6px;
    padding: 10px;
}

.left-student-content {
    width: 60%;
    height: auto;
    display: inline-block;
    text-align: center;
}

.left-student-content img {
    height: 350px;
    margin-right: 100px;
    clip-path: circle();
    object-fit: cover;
}

.right-student-content i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 10px/10px;
    text-align: center;
    background-color: #83ACDC;
    color: white;
}

.right-student-content {
    width: 100%;
    height: auto;
    display: flex;
    text-align: end;
    justify-content:center;
    gap: 60px;
}

.right-student-content h4 {
    margin: 0;
    display: inline-block;
}

.right-student-content p {
    margin: 0%;
}

.item-content {
    display: flex;
    
}

.detail-item-content {
    text-align: justify;
}

.fas,
.fa {
    margin: 0 10px 25px 0px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}