.td-content,
.th-content {
    text-align: center;
}

.check-input {
    width: 15px;
    height: 15px;
}

.check-input:checked {
    width: 15px;
    height: 15px;
}

.btn-account.delete {
    background-color: var(--error-color);
}

.btn-account.delete:hover {
    background-color: #cf3e3e;
}

.btn-account.update {
    background-color: var(--success-color);
}

.btn-account.update:hover {
    background-color: #317f3e;
}