.title {
    text-align: left;
    padding: 1% 0 0 2.5%;
}
.table-content {
    height: 90vh;
    width: 95%;
    padding: 0;
    margin: 1%;
    justify-content: center;
    display: inline-block;
}
#table {
    text-align: center;
}
.table-content button {
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    margin: 0 0 0 5%;
    padding: 0 2% 0 2%;
}

.table-content button:hover {
    background-color: var(--text-color);
    color: var(--body-bg);
}

#btn-detail{
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 10px;
}

#btn-detail:hover{
    background-color: var(--text-color);
}